body {
  margin:             0;
  padding:            0;
  overflow:           hidden;
  width:              1080px;
  height:             1920px;
  background-color:   #000;
  overflow:           hidden;
  position:           absolute;
  left:               420px;
  top:                -420px;
  -webkit-transform:  rotate(-90deg);
  transform:          rotate(-90deg);
}
